@using AHSECO.CCL.FRONTEND.Core;
@{
    ViewBag.Title = "Detalle de Item";
}
<div style="display:none">
    <input type="hidden" id="DI_hdnIdCotDet" value="" />
</div>
<div style="width:80%" class="modal-dialog modal-lg container-fluid" role="document">
    <!-- Modal content -->
    <div class="modal-content">
        <!-- Modal content header -->
        <div class="modal-header box-header well well-sm" style="padding-bottom: 30px;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="tituloModal"><i class="fa fa-cubes"></i>Detalle de Producto</h4>
        </div>
        <!-- Modal content body -->
        <div class="modal-body d-flex justify-content-center" align-items-center>
            <form id="formItem" class="d-flex flex-row">
                <div class="row d-flex justify-content-center">
                    <div id="DI_pnlInfoGeneral" class="container-fluid">
                        <fieldset>
                            <legend><b>Informaci&oacute;n General</b></legend>
                            <div class="col-md-5">
                                <div class="row container-fluid col-content-middleleft form-group">
                                    <div class="col-md-3">
                                        <label for="DI_txtCodigo">C&oacute;digo: </label>
                                    </div>
                                    <div class="col-md-9 col-content-middleleft">
                                        <div class="col-md-6">
                                            <input disabled placeholder="Ingresar código de producto" type="text" class="form-control input-sm" id="DI_txtCodigo" value="">
                                            <input type="hidden" id="DI_hdnCodigo" value="" />
                                            <input type="hidden" id="DI_hdnCodigoPadre" value="" />
                                        </div>
                                        <div class="col-md-3 col-content-middleright">
                                            <label for="DI_txtCantidad">Cantidad: </label>
                                        </div>
                                        <div class="col-md-3">
                                            <input @(ViewBag.PermitirEditarCotDetItem ? "" : "disabled") placeholder="Cantidad" type="number" min="0" maxlength="8" style="text-align:center" class="form-control input-sm" id="DI_txtCantidad" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row container-fluid col-content-middleleft form-group">
                                    <div class="col-md-3">
                                        <label for="DI_txtDescripcion">Descripci&oacute;n: </label>
                                    </div>
                                    <div class="col-md-9">
                                        <textarea disabled placeholder="Ingresar nombre de producto" type="text" rows="2" class="form-control input-sm" id="DI_txtDescripcion" value=""></textarea>
                                    </div>
                                </div>
                                <div id="DI_pnlInfoGeneral_Dimensiones" class="row container-fluid col-content-middleleft form-group">
                                    <div class="col-md-3">
                                        <label for="DI_txtDimensiones">Dimensiones: </label>
                                    </div>
                                    <div class="col-md-9">
                                        <input @(ViewBag.PermitirEditarCotDetItem ? "" : "disabled") placeholder="Ingresar Dimensiones" type="text" maxlength="50" class="form-control input-sm" id="DI_txtDimensiones" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-6">
                                <div class="row container-fluid col-content-middleleft">
                                    <div class="col-md-12">
                                        <div class="row container-fluid">
                                            <label for="DI_txtDescripcionAdic">Especificaciones / Caracteristicas: </label>
                                            <textarea @(ViewBag.PermitirEditarCotDetItem ? "" : "disabled") placeholder="Ingresar Especificaciones <Opcional>" rows="6" class="form-control input-sm" id="DI_txtDescripcionAdic" value=""></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div id="DI_pnlCostos" class="container-fluid">
                        <fieldset class="form-group">
                            <legend><b>Informaci&oacute;n de Costos</b></legend>
                            <div id="DI_pnlCostos_PrecioVenta" class="row container-fluid form-group" style="@(ViewBag.PermitirEditarValorizacion ? "" : "display:none")">
                                <div id="DI_pnlCostos_CostoFOB" class="col-md-6 col-content-middleleft">
                                    <div class="col-md-3">
                                        <label for="DI_txtCostoFOB">Costo FOB: </label>
                                    </div>
                                    <div class="col-md-4">
                                        <input @(ViewBag.PermitirEditarCotDetItem ? "" : "disabled") placeholder="Ingresar Costo" type="text" maxlength="20" class="form-control input-sm" id="DI_txtCostoFOB" value="" onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');">
                                    </div>
                                </div>
                                <div id="DI_pnlCostos_ValorUnitario" class="col-md-6 col-content-middleleft">
                                    <div class="col-md-3">
                                        <label for="DI_txtValorUnitario">Val. Unitario: </label>
                                    </div>
                                    <div class="col-md-4">
                                        <input @(ViewBag.PermitirEditarCotDetItem ? "" : "disabled") placeholder="Ingresar Val. Unt." type="text" maxlength="20" class="form-control input-sm" id="DI_txtValorUnitario" value="" onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');">
                                    </div>
                                </div>
                            </div>
                            <div class="row container-fluid col-content-middleleft">
                                <div id="DI_pnlCostos_TieneStock" class="col-md-4 col-content-middleleft">
                                    <div class="col-md-5">
                                        <label for="DI_radTieneStock">TIENE STOCK: </label>
                                    </div>
                                    <div class="col-md-2">
                                        <table style="width:100%">
                                            <tr>
                                                <td><input @(ViewBag.PermitirEditarCotDetItem ? "" : "disabled") type="radio" name="DI_radTieneStock" class="input-sm" id="DI_radTieneStock_Si"></td>
                                                <td style="padding-top:5px"><label>SI</label></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-2">
                                        <table style="width:100%">
                                            <tr>
                                                <td><input @(ViewBag.PermitirEditarCotDetItem ? "" : "disabled") type="radio" name="DI_radTieneStock" class="input-sm" id="DI_radTieneStock_No"></td>
                                                <td style="padding-top:5px"><label>NO</label></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div id="DI_pnlCostos_Calibracion" class="col-md-4 col-content-middleleft">
                                    <div class="col-md-5">
                                        <label for="DI_radCalibracion" style="flex: 0 0 120px">Calibraci&oacute;n: </label>
                                    </div>
                                    <div class="col-md-2">
                                        <table style="width:100%">
                                            <tr>
                                                <td><input @(ViewBag.PermitirEditarCotDetItem ? "" : "disabled") type="radio" name="DI_radCalibracion" class="input-sm" id="DI_radCalibracion_Si"></td>
                                                <td style="padding-top:5px"><label>SI</label></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-2">
                                        <table style="width:100%">
                                            <tr>
                                                <td><input @(ViewBag.PermitirEditarCotDetItem ? "" : "disabled") type="radio" name="DI_radCalibracion" class="input-sm inp" id="DI_radCalibracion_No"></td>
                                                <td style="padding-top:5px"><label>NO</label></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div id="DI_pnlCostos_Ganancia" class="col-md-4 col-content-middleleft" style="@(ViewBag.PermitirEditarGanancia ? "" : "display:none")">
                                    <div class="col-md-7">
                                        <label for="DI_txtGanancia">Ganancia (%): </label>
                                    </div>
                                    <div class="col-md-5">
                                        <input @(ViewBag.PermitirEditarCotDetItem ? "" : "disabled") placeholder="Ingrese Ganancia" type="text" maxlength="15" class="form-control input-sm" id="DI_txtGanancia" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row container-fluid col-content-middleleft">
                                <div id="DI_pnlCostos_CompraLocal" class="col-md-4 col-content-middleleft">
                                    <div class="col-md-5">
                                        <label for="DI_radCompraLocal">Compra Local: </label>
                                    </div>
                                    <div class="col-md-2">
                                        <table style="width:100%">
                                            <tr>
                                                <td><input @(ViewBag.PermitirEditarCotDetItem ? "" : "disabled") type="radio" name="DI_radCompraLocal" class="input-sm" id="DI_radCompraLocal_Si"></td>
                                                <td style="padding-top:5px"><label>SI</label></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-2">
                                        <table style="width:100%">
                                            <tr>
                                                <td><input @(ViewBag.PermitirEditarCotDetItem ? "" : "disabled") type="radio" name="DI_radCompraLocal" class="input-sm" id="DI_radCompraLocal_No"></td>
                                                <td style="padding-top:5px"><label>NO</label></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div id="DI_pnlCostos_ReqPlaca" class="col-md-4 col-content-middleleft">
                                    <div class="col-md-5">
                                        <label for="DI_radReqPlaca" style="flex: 0 0 120px">Requiere Placa: </label>
                                    </div>
                                    <div class="col-md-2">
                                        <table style="width:100%">
                                            <tr>
                                                <td><input @(ViewBag.PermitirEditarCotDetItem ? "" : "disabled") type="radio" name="DI_radReqPlaca" class="input-sm" id="DI_radReqPlaca_Si"></td>
                                                <td style="padding-top:5px"><label>SI</label></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-2">
                                        <table style="width:100%">
                                            <tr>
                                                <td><input @(ViewBag.PermitirEditarCotDetItem ? "" : "disabled") type="radio" name="DI_radReqPlaca" class="input-sm inp" id="DI_radReqPlaca_No"></td>
                                                <td style="padding-top:5px"><label>NO</label></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div id="DI_pnlCostos_MantPrevent" class="col-md-4 col-content-middleleft">
                                    <div class="col-md-7">
                                        <label for="DI_radMantPrevent" style="flex: 0 0 120px">Mantenimiento Preventivo: </label>
                                    </div>
                                    <div class="col-md-2">
                                        <table style="width:100%">
                                            <tr>
                                                <td><input @(ViewBag.PermitirEditarCotDetItem ? "" : "disabled") type="radio" name="DI_radMantPrevent" class="input-sm" id="DI_radMantPrevent_Si"></td>
                                                <td style="padding-top:5px"><label>SI</label></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-2">
                                        <table style="width:100%">
                                            <tr>
                                                <td><input @(ViewBag.PermitirEditarCotDetItem ? "" : "disabled") type="radio" name="DI_radMantPrevent" class="input-sm inp" id="DI_radMantPrevent_No"></td>
                                                <td style="padding-top:5px"><label>NO</label></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row container-fluid col-content-middleleft">
                                <div id="DI_pnlCostos_Manuales" class="col-md-4 col-content-middleleft">
                                    <div class="col-md-5">
                                        <label for="DI_radManuales" style="flex: 0 0 120px">Manuales: </label>
                                    </div>
                                    <div class="col-md-2">
                                        <table style="width:100%">
                                            <tr>
                                                <td><input @(ViewBag.PermitirEditarCotDetItem ? "" : "disabled") type="radio" name="DI_radManuales" class="input-sm" id="DI_radManuales_Si"></td>
                                                <td style="padding-top:5px"><label>SI</label></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-2">
                                        <table style="width:100%">
                                            <tr>
                                                <td><input @(ViewBag.PermitirEditarCotDetItem ? "" : "disabled") type="radio" name="DI_radManuales" class="input-sm inp" id="DI_radManuales_No"></td>
                                                <td style="padding-top:5px"><label>NO</label></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div id="DI_pnlCostos_Videos" class="col-md-4 col-content-middleleft">
                                    <div class="col-md-5">
                                        <label for="DI_radVideos">Videos: </label>
                                    </div>
                                    <div class="col-md-2">
                                        <table style="width:100%">
                                            <tr>
                                                <td><input @(ViewBag.PermitirEditarCotDetItem ? "" : "disabled") type="radio" name="DI_radVideos" class="input-sm" id="DI_radVideos_Si"></td>
                                                <td style="padding-top:5px"><label>SI</label></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-2">
                                        <table style="width:100%">
                                            <tr>
                                                <td><input @(ViewBag.PermitirEditarCotDetItem ? "" : "disabled") type="radio" name="DI_radVideos" class="input-sm" id="DI_radVideos_No"></td>
                                                <td style="padding-top:5px"><label>NO</label></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div id="DI_pnlCostos_Instalacion" class="col-md-4 col-content-middleleft">
                                    <div class="col-md-7">
                                        <label for="DI_radInstalacion">Instalaci&oacute;n: </label>
                                    </div>
                                    <div class="col-md-2">
                                        <table style="width:100%">
                                            <tr>
                                                <td><input @(ViewBag.PermitirEditarCotDetItem ? "" : "disabled") type="radio" name="DI_radInstalacion" class="input-sm" id="DI_radInstalacion_Si"></td>
                                                <td style="padding-top:5px"><label>SI</label></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-2">
                                        <table style="width:100%">
                                            <tr>
                                                <td><input @(ViewBag.PermitirEditarCotDetItem ? "" : "disabled") type="radio" name="DI_radInstalacion" class="input-sm" id="DI_radInstalacion_No"></td>
                                                <td style="padding-top:5px"><label>NO</label></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row container-fluid col-content-middleleft">
                                <div id="DI_pnlCostos_GarantAdic" class="col-md-4 col-content-middleleft">
                                    <div class="col-md-5">
                                        <label for="DI_radGarantAdic" style="flex: 0 0 120px">Garantía Adicional: </label>
                                    </div>
                                    <div class="col-md-2">
                                        <table style="width:100%">
                                            <tr>
                                                <td><input @(ViewBag.PermitirEditarCotDetItem ? "" : "disabled") type="radio" name="DI_radGarantAdic" class="input-sm" id="DI_radGarantAdic_Si"></td>
                                                <td style="padding-top:5px"><label>SI</label></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-2">
                                        <table style="width:100%">
                                            <tr>
                                                <td><input @(ViewBag.PermitirEditarCotDetItem ? "" : "disabled") type="radio" name="DI_radGarantAdic" class="input-sm inp" id="DI_radGarantAdic_No"></td>
                                                <td style="padding-top:5px"><label>NO</label></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div id="DI_pnlCostos_GarantAdic_Combo" class="col-md-4 col-content-middleleft">
                                    <div class="col-md-5">
                                        <label for="DI_cmbGarantias" style="flex: 0 0 120px">Tipo de Garantía Adicional: </label>
                                    </div>
                                    <div class="col-md-6">
                                        <select class="form-control select2 input-sm" style="width:100%;" id="DI_cmbGarantias" data-selected="">
                                        </select>
                                    </div>
                                </div>
                                <div id="DI_pnlCostos_Capacitacion" class="col-md-4 col-content-middleleft">
                                    <div class="col-md-7">
                                        <label for="DI_radCapacitacion">Capacitaci&oacute;n: </label>
                                    </div>
                                    <div class="col-md-2">
                                        <table style="width:100%">
                                            <tr>
                                                <td><input @(ViewBag.PermitirEditarCotDetItem ? "" : "disabled") type="radio" name="DI_radCapacitacion" class="input-sm" id="DI_radCapacitacion_Si"></td>
                                                <td style="padding-top:5px"><label>SI</label></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-2">
                                        <table style="width:100%">
                                            <tr>
                                                <td><input @(ViewBag.PermitirEditarCotDetItem ? "" : "disabled") type="radio" name="DI_radCapacitacion" class="input-sm" id="DI_radCapacitacion_No"></td>
                                                <td style="padding-top:5px"><label>NO</label></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row container-fluid col-content-middleleft">
                                <div id="DI_pnlCostos_Flete" class="col-md-4 col-content-middleleft">
                                    <div class="col-md-5">
                                        <label for="DI_radFlete">Flete: </label>
                                    </div>
                                    <div class="col-md-2">
                                        <table style="width:100%">
                                            <tr>
                                                <td><input @(ViewBag.PermitirEditarCotDetItem ? "" : "disabled") type="radio" name="DI_radFlete" class="input-sm" id="DI_radFlete_Si"></td>
                                                <td style="padding-top:5px"><label>SI</label></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-2">
                                        <table style="width:100%">
                                            <tr>
                                                <td><input @(ViewBag.PermitirEditarCotDetItem ? "" : "disabled") type="radio" name="DI_radFlete" class="input-sm" id="DI_radFlete_No"></td>
                                                <td style="padding-top:5px"><label>NO</label></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row container-fluid col-content-middleleft">
                                <div id="DI_pnlCostos_ReqCliente" class="col-md-6">
                                    <div class="col-md-11">
                                        <div class="row container-fluid">
                                            <label for="DI_txtReqCliente">Requisitos del Cliente: </label>
                                            <textarea @(ViewBag.PermitirEditarCotDetItem ? "" : "disabled") placeholder="Ingresar Requisitos <Opcional>" rows="3" maxlength="2000" class="form-control input-sm" id="DI_txtReqCliente" value=""></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div id="DI_pnlCostos_ObsInsta" class="col-md-6">
                                    <div class="col-md-11">
                                        <div class="row container-fluid">
                                            <label for="DI_txtObsInsta">Observaciones de la Instalación: </label>
                                            <textarea @(ViewBag.PermitirEditarCotDetItem ? "" : "disabled") placeholder="Ingresar Observaciones <Opcional>" rows="3" maxlength="2000" class="form-control input-sm" id="DI_txtObsInsta" value=""></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="container-fluid">
                        <div id="DI_pnlDestinos" class="col-md-12">
                            <fieldset>
                                <legend><b>Detalle de Destinos</b></legend>
                                <div class="text-right" style="padding-bottom: 2px">
                                    <button style="@(ViewBag.PermitirEditarCotDetItem ? "" : "display:none")" class="btn btn-default btn-sm" type="button" data-toggle="modal" tabindex="14" onclick="javascript:cotvtacostos.agregarCostoItem('1')"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Agregar Costo</button>
                                </div>
                                <div class="row container-fluid">
                                    <table id="DI_tblCostos" class="table table-hover table-condensed table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th style="text-align:center; width:20%">Tipo de Costo</th>
                                                <th style="text-align:center; width:20%">Cantidad</th>
                                                <th style="text-align:center; width:20%">Monto Unitario</th>
                                                <th style="text-align:center; width:20%">Monto Total de Costeo</th>
                                                <th style="text-align:center; width:20%">Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-default btn-sm" type="button" id="DI_btnGuardar"><i class="fa fa-save" aria-hidden="true"></i> Guardar</button>
                        <button class="btn btn-danger btn-sm" type="button" id="DI_btnCerrar"><i class="fa fa-plus" aria-hidden="true"></i> Salir</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
