@using AHSECO.CCL.FRONTEND.Core;
@using AHSECO.CCL.BE.Mantenimiento;
@using AHSECO.CCL.BE;
@using AHSECO.CCL.COMUN;
@using Newtonsoft.Json;
@{
    ViewBag.Title = "Solicitud de Venta";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var NombreRol = VariableSesion.getCadena("VENTA_NOMBRE_ROL");
    var RolVenta_Asesor = ConstantesDTO.WorkflowRol.Venta.Asesor;
    var RolVenta_Jefe = ConstantesDTO.WorkflowRol.Venta.Jefe;
    var RolVenta_CoordVta = ConstantesDTO.WorkflowRol.Venta.CoordVta;
    var RolVenta_ServTecnico = ConstantesDTO.WorkflowRol.Venta.ServTecnico;
    var RolVenta_Gerente = ConstantesDTO.WorkflowRol.Venta.Gerente;
    var RolVenta_Importacion = ConstantesDTO.WorkflowRol.Venta.Importacion;
    var RolVenta_Costos = ConstantesDTO.WorkflowRol.Venta.Costos;
    var RolVenta_Logistica = ConstantesDTO.WorkflowRol.Venta.Logistica;
    var cliente = VariableSesion.getObject("VENTA_CLIENTE") as ClienteDTO;
    var empleado = VariableSesion.getObject("VENTA_EMPLEADO") as EmpleadoDTO;
    var numSol = VariableSesion.getCadena("numSol");
    var estadoSol = VariableSesion.getCadena("estadoSol");
    var estadoAbrev = VariableSesion.getCadena("estadoAbrev");
    if (estadoAbrev != null) { estadoAbrev = estadoAbrev.ToUpper(); }
    var tipoSol = VariableSesion.getCadena("tipoSol");
    var idflujo = VariableSesion.getCadena("idFlujo");
    var idWorkFlow = VariableSesion.getCadena("idWorkFlow");
    var idCotizacion = ViewBag.IdCotizacion;
    ViewBag.disabled = false; //
    if (NombreRol != "SGI_VENTA_ASESOR" && NombreRol != "SGI_VENTA_COORDINASERV" && NombreRol != "SGI_VENTA_COORDINAATC") //habilitado solo cuando es nuevo y con  los perfiles de vendedores
    {
        ViewBag.disabled = true;
    }
    else
    {
        if (numSol != null)
        {
            ViewBag.disabled = true;
        }
    }
}

<input type="hidden" id="nomEmpresa" value="@cliente.NomEmpresa" />
<input type="hidden" id="codigoWorkflow" value="@idWorkFlow" />
<input type="hidden" id="idCliente" value="@cliente.ID" />
<input type="hidden" id="hdnRUC" value="@cliente.RUC" />
<input type="hidden" id="Asesor" value="@empleado.NombresCompletosEmpleado" />
<input type="hidden" id="numeroSolicitud" value="@numSol" />
<input type="hidden" id="estadoSol" value="@estadoSol" />
<input type="hidden" id="idWorkFlow" value="@idWorkFlow" />
<input type="hidden" id="idCotizacion" value="@idCotizacion" />
<input type="hidden" id="idRolUsuario" value="@NombreRol" />
<input type="hidden" id="RolVenta_Asesor" value="@RolVenta_Asesor" />
<input type="hidden" id="RolVenta_Gerente" value="@RolVenta_Gerente" />
<input type="hidden" id="RolVenta_Jefe" value="@RolVenta_Jefe" />
<input type="hidden" id="RolVenta_CoordVta" value="@RolVenta_CoordVta" />
<input type="hidden" id="RolVenta_ServTecnio" value="@RolVenta_ServTecnico" />
<input type="hidden" id="RolVenta_Gerente" value="@RolVenta_Gerente" />
<input type="hidden" id="RolVenta_Importacion" value="@RolVenta_Importacion" />
<input type="hidden" id="RolVenta_Costos" value="@RolVenta_Costos" />
<input type="hidden" id="RolVenta_Logistica" value="@RolVenta_Logistica" />

<div class="container-fluid">
    <h4><i class="glyphicon glyphicon-cog"></i> @ViewBag.Title</h4>
    <div class="box-inner">
        <div class="box-header well" data-original-title="">
            <div style="display: flex;justify-content: space-between;">
                <h2><i class="fa fa-user-circle-o" aria-hidden="true"></i> Cliente: @cliente.NomEmpresa</h2>
                @if (numSol != null)
                {
                    var numSolFormateado = ("000000" + numSol);

                    numSolFormateado = numSolFormateado.Substring((numSolFormateado.Length) - 6, numSolFormateado.Length - ((numSolFormateado.Length) - 6));

                    <h2>N&uacute;mero de Solicitud: @numSolFormateado</h2> <!--- Aquí tendremos que controlar-->
                }
            </div>
        </div>
        <div class="box-content">
            <div class="container-fluid" style="margin-right: 15px;">
                <form id="formRegistroSolicitud">
                    <input type="hidden" id="contador" value="0" />
                    <input type="hidden" id="contadordoc" value="0" />
                    @if (numSol != null)
                    {
                        <div class="row container-fluid">
                            <div class="text-right">
                                <!--- Aquí tendremos que controlar-->
                                <label>ESTADO: <span id="spanEstadoSol">@estadoAbrev</span></label>
                            </div>
                        </div>
                    }
                    <div class="row container-fluid">
                        <div class="col-md-4 col-sm-7 col-xs-12">
                            <label for="cmbFlujo">&Aacute;rea: </label>
                            <div class="form-group">
                                <select @(ViewBag.disabled ? "disabled" : "") class="form-control select2 input-sm" style="width:100%;" id="cmbFlujo" data-selected="">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-7 col-xs-12">
                            <label for="cmbTipoVenta">Tipo de Venta: </label>
                            <div class="form-group">
                                <select @(ViewBag.disabled ? "disabled" : "") class="form-control select2 input-sm" style="width:100%;" id="cmbTipoVenta" data-selected="">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-7 col-xs-12">
                            <label for="cmbTipo">Tipo: </label>
                            <div class="form-group">
                                <select @(ViewBag.disabled ? "disabled" : "") class="form-control select2 input-sm" style="width:100%;" id="cmbTipo" data-selected="">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row container-fluid" style="background-color: #00aeef0f; border-radius: 10px;">
                        <div class="col-md-4 col-sm-12">
                            <label for="txtRuc">R.U.C:</label>
                            <div class="form-group">
                                <input disabled type="text" class="form-control input-sm" id="txtRuc" value="@cliente.RUC">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label for="txtNomEmpresa">Empresa Cliente:</label>
                            <div class="form-group">
                                <input disabled type="text" class="form-control input-sm" id="txtNomEmpresa" value="@cliente.NomEmpresa">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label for="txtAsesor">Representante de Ventas:</label>
                            <div class="form-group">
                                <input disabled type="text" class="form-control input-sm" id="txtAsesor" value="@empleado.NombresCompletosEmpleado">
                            </div>
                        </div>
                    </div>
                    <div class="row container-fluid">
                        <div class="col-md-4 col-sm-12">
                            <label for="dateSolicitud">Fecha de Solicitud: </label>
                            <div class="input-group date">
                                <input @(ViewBag.disabled ? "disabled" : "") type="text" class="form-control input-sm" id="dateSolicitud" aria-describedby="sizing-addon3" placeholder="dd/mm/aaaa" maxlength="10">
                                <span class="input-group-addon input-sm" id="openRegdateSolicitud">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                        <div hidden class="col-md-4 col-sm-7 col-xs-12" id="servicios">
                            <label for="cmbServicios">Servicios Disponibles: </label>
                            <div class="form-group">
                                <select class="form-control select2 input-sm" style="width:100%;" id="cmbServicios" data-selected="">
                                    <option>PENDIENTE</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="cmbempresa">Empresa Emisora:</label>
                                <select @(ViewBag.disabled ? "disabled" : "") class="form-control select2 input-sm" style="width:100%;" id="cmbempresa" data-selected="">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <label for="cmbMedioContacto">Medio de Contacto: </label>
                            <div class="form-group">
                                <select @(ViewBag.disabled ? "disabled" : "") class="form-control select2 input-sm" style="width:100%;" id="cmbMedioContacto" data-selected="">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row container-fluid" id="divDatosLicitacion" style="display:none;">
                        <div class="col-md-4 col-sm-12">
                            <label for="txtNroProceso">N° de Proceso:</label>
                            <div class="form-group">
                                <input @(ViewBag.disabled ? "disabled" : "") type="text" class="form-control input-sm" id="txtNroProceso" placeholder="Ingresar N° de Proceso" maxlength="50">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label for="txtTipoProceso">Tipo de Proceso:</label>
                            <div class="form-group">
                                <input @(ViewBag.disabled ? "disabled" : "") type="text" class="form-control input-sm" id="txtTipoProceso" placeholder="Ingresar Tipo de Proceso" maxlength="200">
                            </div>
                        </div>

                    </div>
                    <br />
                    <div class="row container-fluid">
                        <div class="text-right">
                            @if (NombreRol == RolVenta_Asesor || NombreRol == "SGI_VENTA_COORDINASERV" || NombreRol == "SGI_VENTA_COORDINAATC")
                            {
                                if (numSol != null)
                                {
                                    <button style="@(ViewBag.PermitirCancelarCot ? "" : "display:none")" class="btn btn-danger btn-sm" type="button" data-dismiss="modal" id="btnEliminarSol" tabindex="14"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Cancelar Solicitud</button>
                                }
                                else
                                {
                                    <button class="btn btn-default btn-sm" type="button" data-dismiss="modal" id="btnRegistrar" tabindex="14"><i class="fa fa-save" aria-hidden="true"></i>&nbsp;Registrar</button>
                                }
                            }
                            <button class="btn btn-info btn-sm" type="button" data-dismiss="modal" id="btnRegresar" tabindex="14"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Regresar</button>
                        </div>
                    </div>
                </form>
                <ul class="nav nav-tabs" style="padding-top: 5px;">
                    @if (numSol != null)
                    {
                        <li class="" id="tabDetalleSolicitud">
                            <a href="#navDetalleSolicitud" data-toggle="tab" style="font-weight: bold; color: black;" tabindex="20"><i class="fa fa-info-circle" aria-hidden="true"></i> Detalle</a>
                        </li>
                    }
                    <li class="" id="tabAdjuntos">
                        <a href="#navDocumentos" data-toggle="tab" style="font-weight: bold; color: black;" tabindex="20"><i class="fa fa-file-text" aria-hidden="true"></i> Adjunto de Documentos</a>
                    </li>
                    <li class="" id="tabObservaciones">
                        <a href="#navObservaciones" data-toggle="tab" style="font-weight: bold; color: black;" tabindex="21"><i class="fa fa-exclamation" aria-hidden="true"></i> Observaciones</a>
                    </li>
                    @if (numSol != null)
                    {
                        <li class="" id="tabSeguimiento">
                            <a href="#navSeguimiento" data-toggle="tab" style="font-weight: bold; color: black;" tabindex="21"><i class="fa fa-code-fork" aria-hidden="true"></i>  Seguimiento</a>
                        </li>
                    }
                </ul>
                <div class="tab-content" style="padding-top: 5px;">
                    @if (numSol != null)
                    {
                        <div id="navDetalleSolicitud" class="tab-pane fade in active">
                            <div class="panel-group" id="accordion7401210" role="tablist" aria-multiselectable="false">
                                <div class="panel panel-default">
                                    <div id="collapse8122873" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8122873">
                                    </div>
                                </div>
                                <div class="panel panel-default" style="border-color: #ef8f00;">
                                    <div class="panel-heading" role="tab" id="heading411391" style="background-color: #ef8f000f;">
                                        <h5 class="panel-title">
                                            <a role="button" data-toggle="collapse" class="accordion-arrow-toggle @ViewBag.AcordionCollapsedLiq" href="#Cotizacion_Body" aria-expanded="false" aria-controls="Cotizacion_Body"><i class="fa fa-briefcase" aria-hidden="true"></i> LIQUIDACI&Oacute;N DE COSTOS</a>
                                        </h5>
                                    </div>
                                    <div id="Cotizacion_Body" class="panel-collapse @ViewBag.TabAcordionCollapsedLiq" role="tabpanel" aria-labelledby="heading411391">
                                        <form id="formRegistraCotizacion">
                                            <div class="box-content">
                                                <div style="display: flex;">
                                                    <div class="container-fluid" style="width: 35%; background-color: #ef8f000f; border-radius: 10px;">
                                                        <div class="container-fluid">
                                                            <div class="col-md-12 col-sm-12">
                                                                <label for="nombreContacto">Contacto: </label>
                                                                <div class="form-group">
                                                                    <div class="@(ViewBag.PermitirEditarCotizacion ? "input-group input-group-sm date" : "input-group-sm date")">
                                                                        <input @(ViewBag.PermitirEditarCotizacion ? "readonly" : "disabled") type="text" class="@(ViewBag.PermitirEditarCotizacion ? "" : "form-group") form-control input-sm col-md-10" id="nombreContacto" value="@ViewBag.NombreContacto" placeholder="--Ingrese Nombre de Contacto--" aria-describedby="sizing-addon3" />
                                                                        <span style="@(ViewBag.PermitirEditarCotizacion ? "cursor:pointer" : "display:none")" class="input-group-addon input-sm" id="searchContacto" title="Buscar Contacto" data-toggle="modal" data-target="#modalContactos">
                                                                            <i class="fa fa-search"></i>
                                                                        </span>
                                                                        <span style="@(ViewBag.PermitirEditarCotizacion ? "cursor:pointer" : "display:none")" class="input-group-addon input-sm" id="agregarContacto" title="Agregar Contacto" data-toggle="modal">
                                                                            <i class="fa fa-plus"></i>
                                                                        </span>
                                                                        <input type="hidden" id="txtCodContacto" value="@ViewBag.IdContacto" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 col-sm-12">
                                                                <label for="txtAreaContacto">&Aacute;rea: </label>
                                                                <div class="form-group">
                                                                    <input disabled placeholder="Ingresar Área" type="text" class="form-control input-sm" id="txtAreaContacto" maxlength="100" value="@ViewBag.AreaContacto">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 col-sm-12">
                                                                <label for="txtTelefono">Tel&eacute;fono: </label>
                                                                <div class="form-group">
                                                                    <input disabled placeholder="Ingresar número de télefono" type="text" class="form-control input-sm" id="txtTelefono" value="@ViewBag.TelefonoContacto">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 col-sm-12">
                                                                <label for="txtCorreo">Correo: </label>
                                                                <div class="form-group">
                                                                    <input disabled placeholder="Ingresar Correo" type="text" class="form-control input-sm" id="txtCorreo" value="@ViewBag.CorreoContacto" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="container-fluid" style="width: 65%;">
                                                        <div class="row container-fluid">
                                                            <div class="col-md-6 col-sm-12">
                                                                <label for="dateCotizacion">Fecha Cotizaci&oacute;n: </label>
                                                                <div class="input-group date">
                                                                    <input @(ViewBag.PermitirEditarCotizacion ? "" : "disabled") type="text" class="form-control input-sm" id="dateCotizacion" aria-describedby="sizing-addon3" placeholder="dd/mm/aaaa" maxlength="10" value="@ViewBag.FechaCotizacion">
                                                                    <span class="input-group-addon input-sm" id="openRegdateCotizacion">
                                                                        <i class="fa fa-calendar"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-sm-7 col-xs-12">
                                                                <label for="txtVigencia">Vigencia Cotizaci&oacute;n: </label>
                                                                <div class="form-group">
                                                                    <input @(ViewBag.PermitirEditarCotizacion ? "" : "disabled") placeholder="Ingresar número de días" type="text" class="form-control input-sm" id="txtVigencia" value="@ViewBag.Vigencia">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row container-fluid">
                                                            <div class="col-md-6 col-sm-12">
                                                                <label for="txtPlazoEntrega">Plazo Entrega (d&iacute;as): </label>
                                                                <div class="form-group">
                                                                    <input @(ViewBag.PermitirEditarCotizacion ? "" : "disabled") placeholder="Ingresar número de días" type="text" class="form-control input-sm" id="txtPlazoEntrega" maxlength="8" value="@ViewBag.PlazoEntrega">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-sm-12">
                                                                <label for="cmbGarantia">Garant&iacute;a: </label>
                                                                <div class="form-group">
                                                                    <select @(ViewBag.PermitirEditarCotizacion ? "" : "disabled") class="form-control select2 input-sm" style="width:100%;" id="cmbGarantia" data-selected="@ViewBag.Garantia">
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row container-fluid">
                                                            <div class="col-md-6 col-sm-12">
                                                                <label for="cmbTipoPago">Forma de Pago: </label>
                                                                <div class="form-group">
                                                                    <select @(ViewBag.PermitirEditarCotizacion ? "" : "disabled") class="form-control select2 input-sm" style="width:100%;" id="cmbTipoPago" data-selected="@ViewBag.FormaPago">
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-sm-12">
                                                                <label for="txtObs">Observaci&oacute;n: </label>
                                                                <div class="form-group">
                                                                    <input @(ViewBag.PermitirEditarCotizacion ? "" : "disabled") placeholder="Ingresar observación" type="text" class="form-control input-sm" id="txtObs" maxlength="200" value="@ViewBag.Observacion">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row container-fluid">
                                                            <div class="col-md-6 col-sm-12">
                                                                <label for="cmbTipMoneda">Moneda: </label>
                                                                <div class="form-group">
                                                                    <select @(ViewBag.PermitirEditarCotizacion ? "" : "disabled") class="form-control select2 input-sm" style="width:100%;" id="cmbTipMoneda" data-selected="@ViewBag.Moneda">
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row container-fluid">
                                                    <div class="text-right">
                                                        <button class="btn btn-danger btn-sm" type="button" data-target="#modalBandejaHistorialCotizacion" data-toggle="modal" id="btnHistorial" style="display:none;" tabindex="14"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;Ver Historial</button>
                                                        @if (ViewBag.IdCotizacion != 0)
                                                        {
                                                            <button class="btn btn-primary btn-sm" type="button" id="btnImprimirCotizacion"><i class="fa fa-print" aria-hidden="true"></i>&nbsp;Imprimir Cotizaci&oacute;n</button>
                                                        }
                                                        else
                                                        {
                                                            <button style="@(ViewBag.PermitirRegistroCotizacion ? "" : "display:none")" class="btn btn-default btn-sm" type="button" data-dismiss="modal" id="btnRegistrarCotizacion" tabindex="14"><i class="fa fa-save" aria-hidden="true"></i>&nbsp;Registrar</button>
                                                        }
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="box-inner" style="@(ViewBag.MostrarCotizacionDetalle ? "" : "display:none")">
                                                    <div class="box-header well" data-original-title="">
                                                        <div style="display: flex;justify-content: space-between;">
                                                            <h2><i class="fa fa-list" aria-hidden="true"></i> Detalle</h2>
                                                        </div>
                                                    </div>
                                                    <div class="box-content">
                                                        <div class="text-right">
                                                            <button style="@(ViewBag.PermitirAgregarCotDet ? "" : "display:none")" class="btn btn-default btn-sm" type="button" data-target="#modalDetalleCotizacion" data-toggle="modal" id="btnAgregarDetalle" tabindex="14"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Agregar / Modificar Detalle</button>
                                                        </div>
                                                        <br />
                                                        <ul class="nav nav-tabs" style="padding-top: 5px;">
                                                            <li class="" id="tabDetCot" style="@(ViewBag.PermitirTabDetCot ? "" : "display:none")">
                                                                <a href="#navCotDet" data-toggle="tab" style="font-weight:bold; color:black;" tabindex="20"><i class="fa fa-cubes" aria-hidden="true"></i> Detalle de Productos</a>
                                                            </li>
                                                            <li class="" id="tabInsta" style="@(ViewBag.PermitirTabInsta ? "" : "display:none")">
                                                                <a href="#navInsta" data-toggle="tab" style="font-weight: bold; color: black; " tabindex="20"><i class="fa fa-gears" aria-hidden="true"></i> Instalaci&oacute;n</a>
                                                            </li>
                                                            <li class="" id="tabMantPrevent" style="@(ViewBag.PermitirTabMantPrevent ? "" : "display:none")">
                                                                <a href="#navMantPrevent" data-toggle="tab" style="font-weight: bold; color: black;" tabindex="21"><i class="fa fa-male" aria-hidden="true"></i> Mantenimiento</a>
                                                            </li>
                                                            <li class="" id="tabLLaveMano" style="@(ViewBag.PermitirTabLLaveMano ? "" : "display:none")">
                                                                <a href="#navLLaveMano" data-toggle="tab" style="font-weight: bold; color: black;" tabindex="20"><i class="fa fa-wrench" aria-hidden="true"></i> LLave en mano</a>
                                                            </li>
                                                            <li class="" id="tabManualVideos" style="@(ViewBag.PermitirTabManualVideos ? "" : "display:none")">
                                                                <a href="#navManualVideos" data-toggle="tab" style="font-weight: bold; color: black;" tabindex="20"><i class="fa fa-wrench" aria-hidden="true"></i> Manuales y Videos</a>
                                                            </li>
                                                            <li class="" id="tabGarantiaAdic" style="@(ViewBag.PermitirTabGarantiaAdic ? "" : "display:none")">
                                                                <a href="#navGarantiaAdic" data-toggle="tab" style="font-weight: bold; color: black;" tabindex="20"><i class="fa fa-wrench" aria-hidden="true"></i> Garantía Adicional</a>
                                                            </li>
                                                            <li class="" id="tabCalib" style="@(ViewBag.PermitirTabCalib ? "" : "display:none")">
                                                                <a href="#navCalib" data-toggle="tab" style="font-weight: bold; color: black;" tabindex="20"><i class="fa fa-wrench" aria-hidden="true"></i> Calibraci&oacute;n</a>
                                                            </li>
                                                            <li class="" id="tabFlete" style="@(ViewBag.PermitirTabFlete ? "" : "display:none")">
                                                                <a href="#navFlete" data-toggle="tab" style="font-weight: bold; color: black;" tabindex="21"><i class="fa fa-truck" aria-hidden="true"></i>  Flete</a>
                                                            </li>
                                                        </ul>
                                                        <div class="tab-content">
                                                            <div id="navCotDet" class="tab-pane fade in active">
                                                                <div class="table-responsive">
                                                                    <table id="tblDetCotCostos" class="table table-hover table-condensed table-striped table-bordered" width="100%">
                                                                        <thead>
                                                                            <tr>
                                                                                @for (var i = 0; i < @ViewBag.CabeceraCotDet.Length; i++)
                                                                                {
                                                                                    <th style="text-align:center">@ViewBag.CabeceraCotDet[i]</th>
                                                                                }
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div id="navInsta" class="tab-pane fade">
                                                                <div class="table-responsive">
                                                                    <table id="tblInstaCostos" class="table table-hover table-condensed table-striped table-bordered" width="100%">
                                                                        <thead>
                                                                            <tr>
                                                                                <th style="text-align:center; width:5%">Producto</th>
                                                                                <th style="text-align:center; width:5%">Unidad Medida</th>
                                                                                <th style="text-align:center; width:5%">Ubigeo Destino</th>
                                                                                <th style="text-align:center; width:5%">Dirección</th>
                                                                                <th style="text-align:center; width:5%">Ambiente Destino</th>
                                                                                <th style="text-align:center; width:5%">Cantidad</th>
                                                                                <th style="text-align:center; width:5%">Costo</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div id="navMantPrevent" class="tab-pane fade">
                                                                <div class="table-responsive">
                                                                    <table id="tblMantPreventCostos" class="table table-hover table-condensed table-striped table-bordered" width="100%">
                                                                        <thead>
                                                                            <tr>
                                                                                <th style="text-align:center; width:5%">Producto</th>
                                                                                <th style="text-align:center; width:5%">Unidad Medida</th>
                                                                                <th style="text-align:center; width:5%">Ubigeo Destino</th>
                                                                                <th style="text-align:center; width:5%">Dirección</th>
                                                                                <th style="text-align:center; width:5%">Ambiente Destino</th>
                                                                                <th style="text-align:center; width:5%">Cant. a Despachar</th>
                                                                                <th style="text-align:center; width:5%">Cant. de Preventivo</th>
                                                                                <th style="text-align:center; width:5%">Ciclo de Preventivo</th>
                                                                                <th style="text-align:center; width:5%">Costo</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div id="navLLaveMano" class="tab-pane fade">
                                                                <div class="table-responsive">
                                                                    <table id="tblLLaveManoCostos" class="table table-hover table-condensed table-striped table-bordered" width="100%">
                                                                        <thead>
                                                                            <tr>
                                                                                <th style="text-align:center; width:5%">Producto</th>
                                                                                <th style="text-align:center; width:5%">Unidad Medida</th>
                                                                                <th style="text-align:center; width:5%">Ubigeo Destino</th>
                                                                                <th style="text-align:center; width:5%">Dirección</th>
                                                                                <th style="text-align:center; width:5%">Ambiente Destino</th>
                                                                                <th style="text-align:center; width:5%">Cantidad</th>
                                                                                <th style="text-align:center; width:5%">Costo</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div id="navManualVideos" class="tab-pane fade">
                                                                <div class="table-responsive">
                                                                    <table id="tblManualVideosCostos" class="table table-hover table-condensed table-striped table-bordered" width="100%">
                                                                        <thead>
                                                                            <tr>
                                                                                <th style="text-align:center; width:5%">Producto</th>
                                                                                <th style="text-align:center; width:5%">Unidad Medida</th>
                                                                                <th style="text-align:center; width:5%">Cantidad</th>
                                                                                <th style="text-align:center; width:5%">Costo</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div id="navGarantiaAdic" class="tab-pane fade">
                                                                <div class="table-responsive">
                                                                    <table id="tblGarantiaAdicCostos" class="table table-hover table-condensed table-striped table-bordered" width="100%">
                                                                        <thead>
                                                                            <tr>
                                                                                <th style="text-align:center; width:5%">Producto</th>
                                                                                <th style="text-align:center; width:5%">Unidad Medida</th>
                                                                                <th style="text-align:center; width:5%">Ubigeo Destino</th>
                                                                                <th style="text-align:center; width:5%">Dirección</th>
                                                                                <th style="text-align:center; width:5%">Ambiente Destino</th>
                                                                                <th style="text-align:center; width:5%">Cantidad</th>
                                                                                <th style="text-align:center; width:5%">Costo</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div id="navCalib" class="tab-pane fade">
                                                                <div class="table-responsive">
                                                                    <table id="tblCalibCostos" class="table table-hover table-condensed table-striped table-bordered" width="100%">
                                                                        <thead>
                                                                            <tr>
                                                                                <th style="text-align:center; width:5%">Producto</th>
                                                                                <th style="text-align:center; width:5%">Unidad Medida</th>
                                                                                <th style="text-align:center; width:5%">Ubigeo Destino</th>
                                                                                <th style="text-align:center; width:5%">Dirección</th>
                                                                                <th style="text-align:center; width:5%">Ambiente Destino</th>
                                                                                <th style="text-align:center; width:5%">Cantidad</th>
                                                                                <th style="text-align:center; width:5%">Costo</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div id="navFlete" class="tab-pane fade">
                                                                <div class="table-responsive">
                                                                    <table id="tblFleteCostos" class="table table-hover table-condensed table-striped table-bordered" width="100%">
                                                                        <thead>
                                                                            <tr>
                                                                                <th style="text-align:center; width:5%">Producto</th>
                                                                                <th style="text-align:center; width:5%">Unidad Medida</th>
                                                                                <th style="text-align:center; width:5%">Ubigeo Destino</th>
                                                                                <th style="text-align:center; width:5%">Dirección</th>
                                                                                <th style="text-align:center; width:5%">Ambiente Destino</th>
                                                                                <th style="text-align:center; width:5%">Cantidad</th>
                                                                                <th style="text-align:center; width:5%">Costo</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row container-fluid">
                                                            <div class="text-right">
                                                                <button style="@(ViewBag.PermitirEnvioCotizacion ? "" : "display:none")" class="btn btn-default btn-sm" type="button" id="btnEnviarCotizacion"><i class="fa fa-save" aria-hidden="true"></i>&nbsp;Enviar Cotizaci&oacute;n</button>
                                                                <button style="@(ViewBag.PermitirReCotizacion ? "" : "display:none")" class="btn btn-default btn-sm" type="button" id="btnRecotizacion"><i class="fa fa-save" aria-hidden="true"></i>&nbsp;Generar Nueva Cotizaci&oacute;n</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="panel panel-default" style="@(ViewBag.VerGestionVenta ? "" : "display:none");border-color: #07bc58;">
                                    <div class="panel-heading" role="tab" id="heading2183316" style="background-color: #07bc5833;">
                                        <h5 class="panel-title">
                                            <a role="button" data-toggle="collapse" class="accordion-arrow-toggle @ViewBag.AcordionCollapsedGest" href="#collapse2183316" aria-expanded="true" aria-controls="collapse2183316"><i class="fa fa-money" aria-hidden="true"></i> GESTI&Oacute;N DE VENTA</a>
                                        </h5>
                                    </div>
                                    <div id="collapse2183316" class="panel-collapse @ViewBag.TabAcordionCollapsedGest" role="tabpanel" aria-labelledby="heading2183316">
                                        <form id="formGestionVenta">
                                            <div class="box-content">
                                                <div class="row container-fluid">
                                                    <div class="col-md-4 col-sm-12">
                                                        <label for="txtNroOrdenCompra">N° Orden de Compra: </label>
                                                        <div class="form-group">
                                                            <input placeholder="Ingresar número de orden de compra" type="text" class="form-control input-sm" maxlength="50" id="txtNroOrdenCompra" @ViewBag.TxtOrdenCompra>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-12">
                                                        <label for="dateOrdenCompra">Fecha Orden de Compra: </label>
                                                        <div class="input-group date">
                                                            <input type="text" class="form-control input-sm" id="dateOrdenCompra" aria-describedby="sizing-addon3" placeholder="dd/mm/aaaa" readonly maxlength="10" @ViewBag.TxtFecOrdenCompra>
                                                            <span class="input-group-addon input-sm" id="openRegdateOrdenCompra" @ViewBag.TxtFecOrdenCompra>
                                                                <i class="fa fa-calendar"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-12">
                                                        <label for="txtFechaEntregaMax">Fecha Entrega M&aacute;xima: </label>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control input-sm" id="txtFechaEntregaMax" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row container-fluid">
                                                    <div class="text-right">
                                                        <button class="btn btn-success btn-sm" type="button" data-dismiss="modal" id="btnEnviarGuia" style="display:@ViewBag.Btn_EnviarGuia"><i class="fa fa-envelope" aria-hidden="true" tabindex="110"></i>&nbsp;Enviar Guia</button>
                                                        <button class="btn btn-primary btn-sm" type="button" data-dismiss="modal" id="btnGuiaBO" style="display:@ViewBag.Btn_GuiaBO"><i class="fa fa-file" aria-hidden="true" tabindex="111"></i>&nbsp;Generar Gu&iacute;a de BO</button>
                                                        <button class="btn btn-primary btn-sm" type="button" data-dismiss="modal" id="btnGuiaPedido" style="display:@ViewBag.Btn_GuiaPedido"><i class="fa fa-file" aria-hidden="true" tabindex="112"></i>&nbsp;Generar Gu&iacute;a de Pedido</button>
                                                        <button class="btn btn-success btn-sm" type="button" data-dismiss="modal" id="btnAprobarGestion" tabindex="113" style="display:@ViewBag.Btn_Aprobar"><i class="fa fa-handshake-o" aria-hidden="true"></i>&nbsp;Aprobar</button>
                                                        <button class="btn btn-success btn-sm" type="button" data-dismiss="modal" id="btnObservarGestion" tabindex="114" style="display:@ViewBag.Btn_Observar"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;Observar</button>
                                                        <button class="btn btn-info btn-sm" type="button" data-dismiss="modal" id="btnGuardarGestion" tabindex="115" style="display:@ViewBag.Btn_GuardarDespacho"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Guardar</button>
                                                        <button class="btn btn-info btn-sm" type="button" data-dismiss="modal" id="btnFinalizarVenta" tabindex="116" style="display:@ViewBag.Btn_FinalizarVenta"><i class="fa fa-window-close" aria-hidden="true"></i>&nbsp;Finalizar Venta</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="box-content"  style="@(ViewBag.VerGestionLogistica ? "" : "display:none");">
                                                <ul class="nav nav-tabs" style="padding-top: 5px;">
                                                    <li class="" id="tabConStock" style="@(ViewBag.VerNavConStock ? "":"display:none");">
                                                        <a href="#navConStock" data-toggle="tab" style="font-weight:bold; color:black;" tabindex="220"><i class="fa fa-cubes" aria-hidden="true"></i> Con Stock</a>
                                                    </li>
                                                    <li class="" id="tabSinStock" style="@(ViewBag.VerNavSinStock ? "":"display:none");">
                                                        <a href="#navSinStock" data-toggle="tab" style="font-weight: bold; color: black;" tabindex="221"><i class="fa fa-wrench" aria-hidden="true"></i> Sin Stock</a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div id="navConStock" class="tab-pane fade in active" style="@(ViewBag.VerNavConStock ? "":"display:none");">

                                                        <div class="row container-fluid">
                                                            &nbsp;
                                                        </div>
                                                        <div class="row container-fluid">
                                                            <div class="col-md-4 col-sm-12">
                                                                <label for="dateEntregaPedidoCE">Fecha de Entrega de Pedido: </label>
                                                                <div class="input-group date">
                                                                    <input type="text" class="form-control input-sm" id="dateEntregaPedidoCE" aria-describedby="sizing-addon3" placeholder="dd/mm/aaaa" maxlength="10" @ViewBag.FechaEntregaPedidoCE>
                                                                    <span class="input-group-addon input-sm" id="opendateEntregaPedidoCE" @ViewBag.FechaEntregaPedidoCE>
                                                                        <i class="fa fa-calendar"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 col-sm-12">
                                                                <label for="txtNumeroFacturaCE">N° de Factura: </label>
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control input-sm" id="txtNumeroFacturaCE" placeholder="Ingresar Número de Factura" @ViewBag.TxtNumeroFacturaCE>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 col-sm-12">
                                                                <label for="txtNumeroGuiaRemisionCE">N° de Gu&iacute;a de Remisi&oacute;n: </label>
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control input-sm" id="txtNumeroGuiaRemisionCE" placeholder="Ingresar N° Guia de Remisión" @ViewBag.TxtNumeroGuiaRemisionCE>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row container-fluid">
                                                            &nbsp;
                                                        </div>
                                                        <div class="row container-fluid">
                                                            <div class="table-responsive">
                                                                <table id="tblSeriesCS" class="table table-hover table-condensed table-striped table-bordered" width="100%">
                                                                    <thead>
                                                                        <tr>
                                                                            <th style="text-align:center; width:5%; color:white; background-color:cornflowerblue">N°</th>
                                                                            <th style="text-align: center; width: 15%; color:white; background-color: cornflowerblue">C&oacute;digo</th>
                                                                            <th style="text-align: center; width: 30%; color: white; background-color: cornflowerblue">Descripci&oacute;n Equipo</th>
                                                                            <th style="text-align: center; width: 20%; color: white; background-color: cornflowerblue">Marca</th>
                                                                            <th style="text-align: center; width: 15%; color: white; background-color: cornflowerblue">N° Serie</th>
                                                                            <th style="text-align: center; width: 15%; color: white; background-color: cornflowerblue">Acciones</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr id="NoRegSeries">
                                                                            <td align="center" colspan="6">No existen registros</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div id="navSinStock" class="tab-pane fade" style="@(ViewBag.VerNavSinStock ? "":"display:none");">
                                                        <div class="row container-fluid">
                                                            &nbsp;
                                                        </div>
                                                        <div class="row container-fluid">
                                                            <div class="col-md-4 col-sm-12">
                                                                <label for="txtCodigoPedidoSE">C&oacute;digo de Pedido: </label>
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control input-sm" id="txtCodigoPedidoSE" placeholder="Ingresar Código de Pedido" @ViewBag.TxtCodigoPedido>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 col-sm-12">
                                                                <label for="dateIngresoAlmacenSE">Fecha de Ingreso de Almacen: </label>
                                                                <div class="input-group date">
                                                                    <input type="text" class="form-control input-sm" id="dateIngresoAlmacenSE" aria-describedby="sizing-addon3" placeholder="dd/mm/aaaa" maxlength="10" @ViewBag.IngresoAlmacen>
                                                                    <span class="input-group-addon input-sm" id="opendateIngresoAlmacenSE" @ViewBag.IngresoAlmacen>
                                                                        <i class="fa fa-calendar"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row container-fluid">
                                                            <div class="col-md-4 col-sm-12">
                                                                <label for="dateEntregaPedidoSE">Fecha de Entrega de Pedido: </label>
                                                                <div class="input-group date">
                                                                    <input type="text" class="form-control input-sm" id="dateEntregaPedidoSE" aria-describedby="sizing-addon3" placeholder="dd/mm/aaaa" maxlength="10" @ViewBag.FechaEntregaPedidoSE>
                                                                    <span class="input-group-addon input-sm" id="opendateEntregaPedidoSE" @ViewBag.FechaEntregaPedidoSE>
                                                                        <i class="fa fa-calendar"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 col-sm-12">
                                                                <label for="txtNumeroFacturaSE">N° de Factura: </label>
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control input-sm" id="txtNumeroFacturaSE" placeholder="Ingresar Número de Factura" @ViewBag.TxtNumeroFacturaSE>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 col-sm-12">
                                                                <label for="txtNumeroGuiaRemisionSE">N° de Gu&iacute;a de Remisi&oacute;n: </label>
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control input-sm" id="txtNumeroGuiaRemisionSE" placeholder="Ingresar N° Guia de Remisión" @ViewBag.TxtNumeroGuiaRemisionSE>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div id="navDocumentos" class="tab-pane fade">
                        @{
                            Html.RenderPartial("~/Views/Modelos/_Documentos.cshtml");
                        }
                    </div>
                    <div id="navObservaciones" class="tab-pane fade">
                        @{
                            Html.RenderPartial("~/Views/Modelos/_Observaciones.cshtml");
                        }
                    </div>
                    <div id="navSeguimiento" class="tab-pane fade">
                        @{
                            Html.RenderPartial("~/Views/Modelos/_Seguimiento.cshtml");
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@{
    Html.RenderPartial("~/Views/Modelos/_Modales.cshtml");
}



<style>
    .fixed-column {
        position: sticky;
        left: 0;
        z-index: 10;
        background: white;
    }

    .fixed-last-column {
        position: sticky;
        right: 0;
        z-index: 10;
        background: white;
    }

    /* plus glyph for showing collapsible panels */
    .panel-heading .accordion-plus-toggle:before {
        font-family: FontAwesome;
        content: "\f068";
        float: right;
        color: silver;
    }

    .panel-heading .accordion-plus-toggle.collapsed:before {
        content: "\f067";
        color: silver;
    }

    /* arrow glyph for showing collapsible panels */
    .panel-heading .accordion-arrow-toggle:before {
        font-family: FontAwesome;
        content: "\f078";
        float: right;
        color: silver;
    }

    .panel-heading .accordion-arrow-toggle.collapsed:before {
        content: "\f054";
        color: silver;
    }

    /* sets the link to the width of the entire panel title */
    .panel-title > a {
        display: block;
    }

    .shown {
        background-color: #f9f9f9; /* Color de fondo para filas mostradas */
    }
</style>
<script>
    $(document).ready(function () {
        $('#txtGanancia').on('input', function () {
            let value = $(this).val();
            // Eliminar cualquier carácter que no sea un número
            value = value.replace(/[^0-9]/g, '');

            // Convertir a número
            let numberValue = parseInt(value, 10);

            // Limitar el valor entre 0 y 100
            if (numberValue < 0) {
                $(this).val(0);
            } else if (numberValue > 100) {
                $(this).val(100);
            } else {
                $(this).val(numberValue);
            }
        });
    });
</script>
<!--Modal-->
<!--No se debe poner un MODAL dentro de otro MODAL-->
@{
    Html.RenderPartial("_Contactos");
}

<div class="modal fade" id="modalDetalleCotizacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static" data-keyboard="false">
    @{
        Html.RenderPartial("_SolicitudDetCot");
    }
</div>

<div class="modal fade" id="modalDetalleItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static" data-keyboard="false">
    @{
        Html.RenderPartial("_SolicitudDetItem");
    }
</div>

<div class="modal fade" id="modalBandejaHistorialCotizacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static" data-keyboard="false">
    @{
        Html.RenderPartial("_BandejaHistorialCotizacion");
    }
</div>

<div data-backdrop="static" data-keyboard="false" class="modal fade" id="modalUbigeo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    @{
        Html.RenderPartial("_Ubigeo");
    }
</div>

<div class="modal fade" id="modalCostoItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static" data-keyboard="false">
    @{
        Html.RenderPartial("_SolicitudCostoItem");
    }
</div>

<div class="modal fade" id="modalSeries" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <input type="hidden" id="codDetalleDespacho" value="" />

    <div class="modal-dialog modal-lg container-fluid" role="document">
        <!-- Modal content -->
        <div class="modal-content">
            <!-- Modal content header -->
            <div class="modal-header box-header well well-large">
                <h5 class="modal-title" id="tituloModal"><b>Registro de Serie:</b></h5>
            </div>
            <!-- Modal content body -->
            <div class="modal-body d-flex justify-content-center" align-items-center>
                <form id="formRegistroDetalleViatico" class="d-flex flex-row">
                    <div class="row container-fluid d-flex justify-content-center">


                        <!--1ra fila:-->
                        <div class="row container-fluid">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="txtTipo">C&oacute;digo de Producto:</label>
                                    <input type="text" class="form-control input-sm" id="txtCodigoProductoSerie" value="" disabled>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="txtTipo">Marca:</label>
                                    <input type="text" class="form-control input-sm" id="txtMarcaSerie" value="" disabled>
                                </div>
                            </div>

                        </div>
                        <!--2da fila:-->
                        <div class="row container-fluid">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label for="txtTipo">Descripci&oacute;n:</label>
                                    <input type="text" class="form-control input-sm" id="txtDescripcion" value="" disabled>
                                </div>
                            </div>
                        </div>
                        <!--3ra fila:-->
                        <div class="row container-fluid">
                            <div class="col-md-12 col-sm-12">
                                <label for="txtSerie">N° de Serie:</label>
                                <div class="form-group">
                                    <input placeholder="Ingresar N° de Serie" maxlength="100" type="text" class="form-control input-sm" id="txtSerie" value="">
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <!-- Modal content footer -->
            <div class="modal-footer">
                <button class="btn btn-default btn-sm pull-left" type="button" data-dismiss="modal" id="btnCerrarDetalle"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Cerrar</button>
                <button class="btn btn-primary btn-sm" type="button" id="btnRegistrarSerie"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Registrar Serie</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/resources/js/app/ventas/solicitud.js"></script>
    <script type="text/javascript" src="~/resources/js/app/ventas/cotvtadetalle.js"></script>
    <script type="text/javascript" src="~/resources/js/app/mantenimientos/cliente/bandejaCliente.js"></script>
}
