@using AHSECO.CCL.BE; 
@using AHSECO.CCL.FRONTEND.Core;
@using AHSECO.CCL.FRONTEND.Controllers;
@using Newtonsoft.Json;

@{
    ViewBag.Title = "Mantenimiento de Servicios";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string tipoProceso = VariableSesion.getCadena("tipoProceso");
    var codigoServicio = VariableSesion.getCadena("codigoServicio");
    var codestado = VariableSesion.getCadena("codestado");
    var tiposervicio = VariableSesion.getCadena("tiposervicio");

    var esconder = false;
    if (tipoProceso == "V")
    {
        esconder = true;
    }

}

<input hidden id="txtTipoIngreso" value="@tipoProceso"/>
<input hidden id="txtCodigoServicio" value="@codigoServicio"/>
<input hidden id="txtcodestado" value="@codestado"/>
<input hidden id="txttiposervicio" value="@tiposervicio" />

<div class="container-fluid" style="margin-right: 15px;">
    <h4><i class="glyphicon glyphicon-cog"></i> @ViewBag.Title</h4>
    <div class="box-inner">
        <div class="box-header well" data-original-title="">
            @if (codigoServicio != "0")
            {
                if (tipoProceso == "U")
                {
                    <h2 id="titleRegistro"><i class="glyphicon glyphicon-list"></i> Editar Actividad</h2>
                }
                else if(tipoProceso=="V")
                {
                    <h2 id="titleRegistro"><i class="fa fa-eye "></i> Consultar Actividad</h2>
                }
            }
            else
            {
                <h2 id="titleRegistro"><i class="glyphicon glyphicon-list"></i> Registro de Actividad</h2>
            }
        </div>
        <div class="box-content">
            <form id="formServicio">
                <!--Primera Fila-->
                <div class="row container-fluid">
                    <div class="col-md-6 col-sm-6">
                        <label for="cmbTipoServicio">Tipo de Servicio:</label>
                        <select @(esconder ? "disabled" : "")  class="form-control select2 input-sm" style="width:100%;" id="cmbTipoServicio" tabindex="1"></select>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <label for="txtEquipo">Equipo:</label>
<!--                        <select @(esconder ? "disabled" : "") class="form-control select2 input-sm" style="width:100%;" id="cmbEquipo" tabindex="2"></select>-->
                        <input @(esconder ? "disabled" : "") placeholder="Ingrese Equipo" type="text" class="form-control input-sm" id="txtEquipo" tabindex="2" value="">
                    </div>
                </div>
                <br />
                <!--Segunda Fila-->
                <div class="row container-fluid">
                    <div class="col-md-6 col-sm-12">
                        <label for="txtModelo">Modelo:</label>
                        <div class="form-group">
                            <input @(esconder ? "disabled" : "") placeholder="Ingrese Modelo" type="text" class="form-control input-sm" id="txtModelo" tabindex="3" value="">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <label for="txtMarca">Marca:</label>
                        <input @(esconder ? "disabled" : "") placeholder="Ingrese Marca" type="text" class="form-control input-sm" id="txtMarca" tabindex="4" value="">
                    </div>
                </div>
                <br />
                <div class="row container-fluid">
                    <div class="col-md-6 col-sm-12">
                        <label for="txtPrecioAct">Precio Actualizaci&oacute;n de Software:</label>
                        <div class="form-group">
                            <input @(esconder ? "disabled" : "") placeholder="0.00" type="text" class="form-control input-sm" id="txtPrecioAct" value="" tabindex="5">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <label for="txtPrecioPreventivo">Precio Preventivo:</label>
                        <div class="form-group">
                            <input @(esconder ? "disabled" : "") placeholder="0.00" type="text" class="form-control input-sm" id="txtPrecioPreventivo" tabindex="6" value="">
                        </div>
                    </div>
                </div>
                <div class="row container-fluid">
                    <div class="col-md-6 col-sm-12">
                        <label for="txtPrecioCapacitacion">Precio Capacitaci&oacute;n:</label>
                        <div class="form-group">
                            <input @(esconder ? "disabled" : "") placeholder="0.00" type="text" class="form-control input-sm" id="txtPrecioCapacitacion" value="" tabindex="7">
                        </div>
                    </div>
                    @if (codigoServicio == "0")
                    {
                        <div class="col-md-6 col-sm-12">
                            <label for="cmbEstado">Estado:</label>
                            <select disabled class="form-control select2 input-sm" style="width:100%;" id="cmbEstado" tabindex="8">
                                <option value="1">Activo</option>
                            </select>
                        </div>
                    }
                    else
                    {
                        if (tipoProceso == "U")
                        {
                            <div class="col-md-6 col-sm-12">
                                <label for="cmbEstado">Estado:</label>
                                <select class="form-control select2 input-sm" style="width:100%;" id="cmbEstado" tabindex="8"></select>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-6 col-sm-12">
                                <label for="cmbEstado">Estado:</label>
                                <select disabled class="form-control select2 input-sm" style="width:100%;" id="cmbEstado" tabindex="8"></select>
                            </div>
                        }
                    }
                </div>

                <br />
                <div class="text-right">
                    @if (codigoServicio == "0")
                    {
                        <button class="btn btn-success btn-sm " type="button" tabindex="9" id="btnGuardar"><i class="fa fa-save"></i> Guardar</button>
                    }
                    else
                    {
                        if (tipoProceso == "U")
                            {
                            <button class="btn btn-success btn-sm " tabindex="9" type="button" id="btnActualizar"><i class="fa fa-floppy-o"></i> Actualizar</button>
                            }
                    }
                    <button class="btn btn-primary btn-sm" type="button" id="btnCancelar" tabindex="10" ><i class="fa fa-undo"></i> Regresar</button>
                </div>
               <br />
            </form>
            <br />
            <ul class="nav nav-tabs" style="padding-top: 5px;">
                <li class="active" id="tabDetalle">
                    <a href="#navDetalleServicio" data-toggle="tab" style="font-weight:bold; color:Gray;" tabindex="">Detalle Servicio</a>
                </li>
                <li class="" id="tabHerramientasInstrumentos">
                    <a href="#navHerramientasInstrumentos" data-toggle="tab" style="font-weight:bold; color:Gray;" tabindex="">Herramientas e Instrumentos</a>
                </li>
            </ul>
            <div class="tab-content" style="padding-top: 5px;">
                <div id="navDetalleServicio" class="tab-pane fade in active">
                    <div class="box-inner">
                        <div class="box-header well">
                            <h2 class="header_titulo">Detalle de Servicio:</h2>
                        </div>
                        <div class="row container-fluid">
                            @if (tipoProceso != "V")
                            {
                            <div class="col-md-12 col-sm-12">
                                <div class="modal-footer">
                                    <button class="btn btn-primary btn-sm" type="button" id="btnAbrirModalServicio" data-toggle="modal" data-target="#modalDetalleServicio"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Agregar Detalle</button>
                                </div>
                            </div>
                            }
                        </div>
                        <div class="box-content">
                            <div class="table-responsive">
                                <table id="tblDetalleServicio" class="table table-hover table-condensed table-striped table-bordered" width="100%">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center">N°</th>
                                            <th style="text-align:center">Descripci&oacute;n</th>
                                            <th style="text-align: center; width:20%">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="NoExisteReg"><td colspan="8" style="text-align:center">No existen registros</td></tr>
                                    </tbody>
                                </table>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div id="navHerramientasInstrumentos" class="tab-pane fade">
                    @{
                        Html.RenderPartial("~/Views/Shared/_HerramientasInstrumentos.cshtml");
                    }
                </div>
                
            </div>

        </div>
    </div>
   
</div>

<script>
    $(document).ready(function () {

        $('#txtPrecioAct').on('blur', function () {
            let valor = $(this).val();

            // Eliminar caracteres que no son números o punto
            valor = valor.replace(/[^0-9.]/g, '');

            // Contar cuántos puntos hay
            const puntoCount = (valor.match(/\./g) || []).length;

            // Permitir solo un punto
            if (puntoCount > 1) {
                valor = valor.replace(/\.+$/, ''); // Eliminar el último punto si hay más de uno
            }

            // Si hay un punto, limitar a dos decimales
            const partes = valor.split('.');
            if (partes.length > 1) {
                partes[1] = partes[1].substring(0, 2); // Limitar a dos decimales
            } else {
                partes[1] = ''; // Si no hay parte decimal, inicializar
            }

            // Formatear la parte entera con separadores de miles
            let partesEntera = partes[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            let valorFormateado = partesEntera;

            // Agregar la parte decimal (con ceros si es necesario)
            if (partes[1]) {
                valorFormateado += '.' + partes[1];
            } else {
                if (partes[0] == '') {
                    valorFormateado += ''
                }
                else {
                    valorFormateado += '.00'; // Si no hay parte decimal, agregar .00
                }
            }

            // Asignar el valor formateado al input
            $(this).val(valorFormateado);
        });

        $('#txtPrecioPreventivo').on('blur', function () {
            let valor = $(this).val();

            // Eliminar caracteres que no son números o punto
            valor = valor.replace(/[^0-9.]/g, '');

            // Contar cuántos puntos hay
            const puntoCount = (valor.match(/\./g) || []).length;

            // Permitir solo un punto
            if (puntoCount > 1) {
                valor = valor.replace(/\.+$/, ''); // Eliminar el último punto si hay más de uno
            }

            // Si hay un punto, limitar a dos decimales
            const partes = valor.split('.');
            if (partes.length > 1) {
                partes[1] = partes[1].substring(0, 2); // Limitar a dos decimales
            } else {
                partes[1] = ''; // Si no hay parte decimal, inicializar
            }

            // Formatear la parte entera con separadores de miles
            let partesEntera = partes[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            let valorFormateado = partesEntera;

            // Agregar la parte decimal (con ceros si es necesario)
            if (partes[1]) {
                valorFormateado += '.' + partes[1];
            } else {
                if (partes[0] == '') {
                    valorFormateado += ''
                }
                else {
                    valorFormateado += '.00'; // Si no hay parte decimal, agregar .00
                }
            }

            // Asignar el valor formateado al input
            $(this).val(valorFormateado);
        });

        $('#txtPrecioCapacitacion').on('blur', function () {
            let valor = $(this).val();

            // Eliminar caracteres que no son números o punto
            valor = valor.replace(/[^0-9.]/g, '');

            // Contar cuántos puntos hay
            const puntoCount = (valor.match(/\./g) || []).length;

            // Permitir solo un punto
            if (puntoCount > 1) {
                valor = valor.replace(/\.+$/, ''); // Eliminar el último punto si hay más de uno
            }

            // Si hay un punto, limitar a dos decimales
            const partes = valor.split('.');
            if (partes.length > 1) {
                partes[1] = partes[1].substring(0, 2); // Limitar a dos decimales
            } else {
                partes[1] = ''; // Si no hay parte decimal, inicializar
            }

            // Formatear la parte entera con separadores de miles
            let partesEntera = partes[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            let valorFormateado = partesEntera;

            // Agregar la parte decimal (con ceros si es necesario)
            if (partes[1]) {
                valorFormateado += '.' + partes[1];
            } else {
                if (partes[0] == '') {
                    valorFormateado += ''
                }
                else {
                    valorFormateado += '.00'; // Si no hay parte decimal, agregar .00
                }
                
            }

            // Asignar el valor formateado al input
            $(this).val(valorFormateado);
        });


    });
</script>

<div class="modal fade" id="modalDetalleServicio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    @{
        Html.RenderPartial("_DetalleServicio");
    }
</div>

@section scripts{
    <script src="~/resources/js/app/mantenimientos/servicios/manipularServicios.js"></script>
}