@using AHSECO.CCL.FRONTEND.Core;

@{
    ViewBag.Title = "Nuevo Reclamo";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var numReclamo = VariableSesion.getCadena("NumReclamo");
    var codEstado = VariableSesion.getCadena("CodEstado");
    var IdWorkFlow = VariableSesion.getCadena("IdWorkFlow");
    var tipoProceso = VariableSesion.getCadena("TipoProceso");

    var visualizar = false;

    if(tipoProceso != "")
    {
        visualizar = true;
    };

}

<input hidden id="numReclamo" value="@numReclamo" />
<input hidden id="codigoWorkflow" value="@IdWorkFlow" />
<input hidden id="estadoReq" value="@codEstado" />
<input hidden id="tipoproceso" value="@tipoProceso"/>

<div class="container-fluid">
    @if (numReclamo == "")
    {
        <h4><i class="fa fa-comment" aria-hidden="true"></i> @ViewBag.Title</h4>
    }
    else
    {
        <h4><i class="fa fa-comment" aria-hidden="true"></i> Reclamo</h4>
    }

    <div class="box-inner">
        <div class="box-header well" data-original-title="">
            <div style="display: flex;justify-content: space-between;">
                @if (numReclamo != "")
                {
                    var numReqFormateado = ("000000" + numReclamo);

                    numReqFormateado = numReqFormateado.Substring((numReqFormateado.Length) - 6, numReqFormateado.Length - ((numReqFormateado.Length) - 6));

                    <h2>N&uacute;mero de Reclamo: @numReqFormateado</h2> <!--- Aquí tendremos que controlar-->

                    <div class="text-right">
                        <!--- Aquí tendremos que controlar-->
                        <label>ESTADO: <span style="color:red" id="spanEstadoSol"></span></label>
                    </div>
                }

            </div>
        </div>
        <div class="box-content">
            <div class="container-fluid" style="margin-right: 15px;">
                <form id="formReclamo">
                    <input type="hidden" id="contador" value="0" />
                    <input type="hidden" id="contadordoc" value="0" />
                    <div class="row container-fluid">
                        <div class="col-md-4 col-sm-12">
                            <label for="txtSolVenta">N° de Serie: </label>
                            <div class="form-group">
                                @if (numReclamo == "")
                                {
                                    <div class="input-group input-group-sm date">
                                        <input type="text" class="form-control input-sm" id="txtSerieVenta" value="" placeholder="---Ingresar N° de Serie---" aria-describedby="sizing-addon3" />

                                        <span style="cursor:pointer" class="input-group-addon input-sm" id="searchSolVenta" title="Buscar Datos">
                                            <i class="fa fa-search"></i>
                                        </span>
                                        <span style="cursor:pointer" class="input-group-addon input-sm" id="limpiarReclamo" title="limpiar todo">
                                            <i class="fa fa-trash" style="color:red"></i>
                                        </span>
                                        <input type="hidden" id="txtCodSerie" value="" />
                                    </div>
                                }
                                else
                                {
                                    <input type="text" class="form-control input-sm" id="txtSerieVenta" value="" placeholder="---Ingresar N° de Serie---" aria-describedby="sizing-addon3" />
                                }
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label for="txtSolicitud">Solicitud:</label>
                            <div class="form-group">
                                <input placeholder="--Solicitud de Venta--" disabled type="text" class="form-control input-sm" id="txtSolicitud" value="">
                            </div>
                        </div>
                    </div>
                    <div class="row container-fluid" style="background-color: #00aeef0f; border-radius: 10px;">
                        <div class="col-md-4 col-sm-12">
                            <label for="txtRuc">R.U.C:</label>
                            <div class="form-group">
                                <input placeholder="--R.U.C--" disabled type="text" class="form-control input-sm" id="txtRuc" value="">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label for="txtNomEmpresa">Razón Social(Cliente):</label>
                            <div class="form-group">
                                <input placeholder="--Razón Social--" disabled type="text" class="form-control input-sm" id="txtNomEmpresa" value="">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label for="txtUbigeo">Ubicación: </label>
                            <div class="form-group">
                                <input placeholder="--Ubigeo--" disabled type="text" class="form-control input-sm" id="txtUbigeo" value="">
                            </div>
                        </div>
                    </div>
                    <div class="row container-fluid">
                        <div class="col-md-4 col-sm-12">
                            <label for="txtAsesor">Representante de Ventas:</label>
                            <div class="form-group">
                                <input placeholder="--Representante de Ventas--" disabled type="text" class="form-control input-sm" id="txtAsesor" value="">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <input hidden id="hdnCodEmpresa" value="" />
                            <label for="txtEmpresa">Empresa: </label>
                            <div class="form-group">
                                <input placeholder="--Empresa--" disabled type="text" class="form-control input-sm" id="txtEmpresa" value="">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label for="cmbTipVenta">Tip. Venta:</label>
                            <div class="input-group col-sm-12 col-md-12 col-lg-12">
                                <select disabled aria-hide="false" id="cmbTipVenta" type="text" class="input form-control input-sm">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row container-fluid" id="rowDocsProc" style="display:none">
                        <div class="col-md-4 col-sm-12" id="colProceso">
                            <label for="txtProceso">N° Proceso:</label>
                            <div class="form-group">
                                <input disabled type="text" class="form-control input-sm" id="txtProceso" value="">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12" id="coltipProceso">
                            <label for="txtProceso">Tipo de Proceso:</label>
                            <div class="form-group">
                                <input disabled type="text" class="form-control input-sm" id="txtTipProceso" value="" />
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12" id="colContrato" style="display:none">
                            <label for="txtContrato">N° Contrato:</label>
                            <div class="form-group">
                                <input disabled type="text" class="form-control input-sm" id="txtContrato" value="">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12" id="colOrdenCompra" style="display:none">
                            <label for="txtOrdCompra">Orden de Compra:</label>
                            <div class="form-group">
                                <input disabled type="text" class="form-control input-sm" id="txtOrdCompra" value="">
                            </div>
                        </div>
                    </div>
                    <br />
                </form>
                <br />
                <div class="box-inner" id="boxReclamo">
                    <div class="box-header well" data-original-title="" style="background-color: beige;">
                        <div>
                            <p id="titleNomProducto"><i class="fa fa-cube" aria-hidden="true" style="color:brown"></i> Equipo</p>
                        </div>
                    </div>
                    <div class="box-content" style="background-color: #f5f5dc30;">
                        <div class="container-fluid">
                            <div class="row container-fluid">
                                <div class="col-md-4 col-sm-12">
                                    <label for="txtCodEquipo">Código Equipo:</label>
                                    <div class="form-group">
                                        <input placeholder="--Código Equipo--" disabled type="text" class="form-control input-sm" id="txtCodEquipo" value="">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <label for="txtMatcaEquipo">Marca:</label>
                                    <div class="form-group">
                                        <input placeholder="--Marca--" disabled type="text" class="form-control input-sm" id="txtMatcaEquipo" value="">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <label for="txtModeloEquipo">Modelo:</label>
                                    <div class="form-group">
                                        <input placeholder="--Modelo--" disabled type="text" class="form-control input-sm" id="txtModeloEquipo" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row container-fluid">
                                <div class="col-md-12 col-sm-12">
                                    <label for="txtDescEquipo">Descripción Equipo:</label>
                                    <div class="form-group">
                                        <input placeholder="--Descripción Equipo--" disabled type="text" class="form-control input-sm" id="txtDescEquipo" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row container-fluid">
                                <div class="col-md-4 col-sm-12">
                                    <label for="txtMantPrevEquipo">N° Mantenimiento Preventivo:</label>
                                    <div class="form-group">
                                        <input placeholder="--Mant.Preventivo--" disabled type="text" class="form-control input-sm" id="txtMantPrevEquipo" value="">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <label for="txtPrevRealiEquipo">Preventivos Realizados:</label>
                                    <div class="form-group">
                                        <input placeholder="--Preventido Realizados--" disabled type="text" class="form-control input-sm" id="txtPrevRealiEquipo" value="">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <label for="txtPrevFaltEquipo">Preventivos Faltantes:</label>
                                    <div class="form-group">
                                        <input placeholder="--Preventivos Faltantes--" disabled type="text" class="form-control input-sm" id="txtPrevFaltEquipo" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row container-fluid">
                                <div class="col-md-4 col-sm-12">
                                    <label for="txtFechaInstall">Fecha Instalaci&oacute;n:</label>
                                    <div class="form-group">
                                        <input placeholder="--Fecha Instalación--" disabled type="text" class="form-control input-sm" id="txtFechaInstall" value="">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <label for="txtFinGarantia">Fecha Final Garant&iacute;a:</label>
                                    <div class="form-group">
                                        <input placeholder="--Fecha Final Garantía--" disabled type="text" class="form-control input-sm" id="txtFinGarantia" value="">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <label for="txtEstadoGarantia">Estado de Garantía:</label>
                                    <div class="form-group">
                                        <input placeholder="--Estado de Garantía--" disabled type="text" class="form-control input-sm" id="txtEstadoGarantia" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row container-fluid">
                                <div class="col-md-4 col-sm-12">
                                    <label for="txtDirecInstall">Dirección de Instalación:</label>
                                    <div class="form-group">
                                        <input placeholder="--Dirección de Instalación--" disabled type="text" class="form-control input-sm" id="txtDirecInstall" value="">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <input hidden id="hdnCodUbigeo" value="" />
                                    <label for="txtUbiDestino">Ubicación Destino:</label>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <input placeholder="--Ubicación de Instalación--" disabled type="text" class="form-control input-sm" id="txtUbiDestino" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <label for="txtNumFianza">N° de Fianza:</label>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <input placeholder="--N° de Fianza--" disabled type="text" class="form-control input-sm" id="txtNumFianza" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div class="row container-fluid">
                    <div class="text-right">
                        @if (tipoProceso != "V")
                        {
                            if (numReclamo != "")
                            {
                                <button class="btn btn-default btn-sm" type="button" data-dismiss="modal" id="btnEditarRec" tabindex="14"><i class="fa fa-save" aria-hidden="true"></i>&nbsp;Guardar</button>
                                if (codEstado == "REG")
                                {
                                    <button class="btn btn-primary btn-sm" type="button" data-dismiss="modal" id="btnFinalizarRec" tabindex="14"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Finalizar Reclamo</button>
                                }
                            }
                            else
                            {
                                <button class="btn btn-default btn-sm" type="button" data-dismiss="modal" id="btnRegistrarRec" tabindex="14"><i class="fa fa-save" aria-hidden="true"></i>&nbsp;Registrar</button>
                            }
                        }
                        <button class="btn btn-info btn-sm" type="button" data-dismiss="modal" id="btnRegresar" tabindex="14"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Regresar</button>
                    </div>
                </div>
                <ul class="nav nav-tabs" style="padding-top: 5px;">
                    @if (numReclamo != "")
                    {
                        <li class="" id="tabSeguimiento">
                            <a href="#navSeguimiento" data-toggle="tab" style="font-weight: bold; color: black;" tabindex="21"><i class="fa fa-code-fork" aria-hidden="true"></i>  Seguimiento</a>
                        </li>
                    }
                    <li class="" id="tabReclamo">
                        <a href="#navReclamo" data-toggle="tab" style="font-weight: bold; color: red;" tabindex="21"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Reclamo</a>
                    </li>
                    <li class="" id="tabTecnicos">
                        <a href="#navTecnicos" data-toggle="tab" style="font-weight: bold; color: #158304;" tabindex="21"><i class="fa fa-users" aria-hidden="true"></i><i class="fa fa-wrench" aria-hidden="true"></i> Tecnicos</a>
                    </li>
                    <li class="" id="tabObservaciones">
                        <a href="#navObservaciones" data-toggle="tab" style="font-weight: bold; color: black;" tabindex="21"><i class="fa fa-exclamation" aria-hidden="true"></i> Observaciones</a>
                    </li>
                    <li class="" id="tabAdjuntos">
                        <a href="#navDocumentos" data-toggle="tab" style="font-weight: bold; color: black;" tabindex="20"><i class="fa fa-file-text" aria-hidden="true"></i> Adjunto de Documentos</a>
                    </li>
                    <li class="" id="tabContacto">
                        <a href="#navContactoDetalle" data-toggle="tab" style="font-weight:bold; color: black;" tabindex="22"><i class="fa fa-address-card-o" aria-hidden="true"></i> Info. Contacto</a>
                    </li>
                </ul>
                <div class="tab-content" style="padding-top: 5px;">
                    @if (numReclamo != "")
                    {
                        <div id="navSeguimiento" class="tab-pane fade in active">
                            @{
                                Html.RenderPartial("~/Views/Modelos/_Seguimiento.cshtml");
                            }
                        </div>
                    }
                    <div id="navDocumentos" class="tab-pane fade">
                        @{
                            Html.RenderPartial("~/Views/Modelos/_Documentos.cshtml");
                        }
                    </div>
                    <div id="navReclamo" class="tab-pane fade">
                        @{
                            Html.RenderPartial("~/Views/Modelos/_Reclamo.cshtml");


                        }
                    </div>
                    <div id="navTecnicos" class="tab-pane fade">
                        <br />
                        <form id="formRegistro" class="d-flex flex-row">
                            <div class="row container-fluid d-flex justify-content-center">
                                <div class="row container-fluid">
                                    <div class="col-md-4 col-sm-12">
                                        <label for="dateProgramacion">Fecha de Programación: </label>
                                        <div class="input-group date">
                                            <input disabled type="text" readonly class="form-control input-sm" id="dateProgramacion" aria-describedby="sizing-addon3" placeholder="dd/mm/aaaa" maxlength="10">
                                            <span class="input-group-addon input-sm" id="openRegdateProgramacion">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-right">
                                    @if (tipoProceso != "V")
                                    {
                                        <button style="display:none;" class="btn btn-default btn-sm" type="button" id="btnBuscarTecnicos" data-target="#modalBusquedaTecnico" data-toggle="modal"><i class="fa fa-search"></i> Buscar Técnicos</button>
                                        <span id="hidden_fields"></span>
                                        <button style="display:none;" class="btn btn-primary btn-sm" type="button" id="btnAñadirTecnico" data-toggle="modal" data-target="#añadirTecnico"><i class="fa fa-plus"></i> Crear Técnico Externo</button>
                                    }

                                </div>
                                <br />
                                <div class="table-responsive">
                                    <table id="tblMainTecnicos" class="table table-hover table-condensed table-striped table-bordered" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th style="text-align: center; width:10%">Tip. de Doc.</th>
                                                <th style="text-align: center; width:10%">N&uacute;m. de Doc.</th>
                                                <th style="text-align: center; width:20%">Nombres y Apellidos</th>
                                                <th style="text-align: center; width:15%">Tel&eacute;fono</th>
                                                <th style="text-align: center; width:15%;">Correo</th>
                                                <th style="text-align: center; width:15%;">Empresa</th>
                                                <th style="text-align: center; width:50%;"><center>Acciones</center></th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbodyTecnicos">
                                        </tbody>
                                        <tr id="NoExisteTec"><td colspan="11" style="text-align:center"> No se han añadido técnicos</td></tr>
                                    </table>
                                </div>
                            </div>
                            <br />
                        </form>
                    </div>
                    <div id="navObservaciones" class="tab-pane fade">
                        @{
                            Html.RenderPartial("~/Views/Modelos/_Observaciones.cshtml");
                        }
                    </div>
                    <div id="navContactoDetalle" class="tab-pane fade">
                        <div class="panel-group" id="accordion7401210" role="tablist" aria-multiselectable="false">
                            <div class="box-content">
                                <div class="row container-fluid">
                                    <div class="col-md-6 col-sm-12">
                                        <label for="txtNomContacto">Nombre de Contacto:</label>
                                        <div class="form-group">
                                            <input placeholder="Nombre de Contacto" disabled type="text" class="form-control input-sm" id="txtNomContacto">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <label for="txtTelefContacto">Tel&eacute;fono de Contacto:</label>
                                        <div class="form-group">
                                            <input placeholder="Teléfono de Contacto" disabled type="text" class="form-control input-sm" id="txtTelefContacto">
                                        </div>
                                    </div>
                                </div>
                                <div class="row container-fluid">
                                    <div class="col-md-6 col-sm-12">
                                        <label for="txtEstablecimientoCont">Establecimiento:</label>
                                        <div class="form-group">
                                            <input placeholder="Establecimiento" disabled type="text" class="form-control input-sm" id="txtEstablecimientoCont">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <label for="txtCargoContacto">Cargo de Contacto:</label>
                                        <div class="form-group">
                                            <input placeholder="Cargo de Contacto" disabled type="text" class="form-control input-sm" id="txtCargoContacto">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    Html.RenderPartial("~/Views/Modelos/_Modales.cshtml");
}



<div class="modal fade" id="añadirTecnico" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    @{
        Html.RenderPartial("_AsignacionTecnico");
    }
</div>


<div class="modal fade" id="modalSolicitud" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    @{
        Html.RenderPartial("_BusquedaSolicitud");
    }
</div>


<div class="modal fade" id="modalBusquedaTecnico" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    @{
        Html.RenderPartial("_BuscarTecnico");
    }
</div>

<div class="modal fade" id="modalZona" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    @{ 
        Html.RenderPartial("_Ubigeo");
    }
</div>
@section scripts{
    <script type="text/javascript" src="~/resources/js/app/ServicioTecnico/BandejaGarantia/registroGarantia.js"></script>
}
